@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

/* ============ navbar ============= */
.nav-colored {
  background-color: #4376e6 !important;
  color: #13593b !important;
}

/* ============ widget contact container ============ */
@media (max-width: 550px) {
  .widget-container {
    width: 100%;
    height: 400px;
    background-color: #d3eaff;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .widget-container .wid-grid {
    width: 95%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60px 240px;
        grid-template-rows: 60px 240px;
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "wid1" "wid2";
  }
  .widget-container .wid-grid .wid1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: wid1;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .widget-container .wid-grid .wid1 h1 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #000;
    margin-top: 0px;
  }
  .widget-container .wid-grid .wid2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: wid2;
    display: -ms-grid;
    display: grid;
  }
  .widget-container .wid-grid .wid2 img {
    margin-top: -9px;
    width: 240px;
    height: 230px;
    -webkit-animation: swing 1.5s infinite alternate ease-in-out;
            animation: swing 1.5s infinite alternate ease-in-out;
    cursor: pointer;
  }
  @-webkit-keyframes swing {
    0% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes swing {
    0% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

/* =============== media queries ================= */
/* ================ media queries ================== */
/* =============== media queries ================ */
@media (max-width: 550px) {
  /* ============ parent ============= */
  .parent {
    width: 100%;
    min-height: 800px;
    background-color: #fff;
    overflow-x: hidden;
  }
  .layout-container {
    width: 100vw;
    max-width: 1500px;
    background-color: #fff;
    overflow-x: hidden;
  }
  /* ============ hero container ============ */
  .hero-container {
    width: 100%;
    height: 600px;
    padding: 0px;
    position: relative;
    background-color: #fff;
    z-index: 3;
  }
  .hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.653);
  }
  .hero-container img {
    width: 100%;
    height: 300px;
    margin: auto 0;
    -webkit-animation: ads 0.3s ease-in-out;
            animation: ads 0.3s ease-in-out;
  }
  @-webkit-keyframes ads {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes ads {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .hero-container h1 {
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 2;
    line-height: 1.5;
  }
  /* ============ form container ============ */
  .form-container {
    width: 100%;
    height: 500px;
    padding: 50px 10px;
    position: relative;
    background-color: #d3eaff;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 160px 260px;
        grid-template-rows: 160px 260px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "form-box1" "form-box2";
    grid-gap: 10px;
    place-items: center;
  }
  .form-container .circle {
    position: absolute;
    height: 300px;
    width: 613px;
    border-radius: 50%;
    background-color: #0cbaf9;
    top: -22%;
    left: -15%;
    z-index: 1;
  }
  .form-container h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: form-box1;
    z-index: 2;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: -60px;
    margin-left: 10px;
  }
  .form-container h2 .fa {
    display: none;
    font-size: 5rem;
    left: 130px;
    top: 24%;
    position: absolute;
    -webkit-animation: vib 0.4s infinite alternate ease-in-out;
            animation: vib 0.4s infinite alternate ease-in-out;
  }
  @-webkit-keyframes vib {
    0% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes vib {
    0% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .form-container form {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form-box2;
    display: -ms-grid;
    display: grid;
    width: 90%;
    height: 250px;
    margin: 0px auto;
        grid-template-areas: "input1" "input2" "btn1";
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .form-container form .input1,
  .form-container form .input2 {
    width: 100%;
    height: 50px;
    border: none;
    margin: 0px auto;
    padding: 15px;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
  }
  .form-container form .input1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: input1;
  }
  .form-container form .input2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: input2;
  }
  .form-container form button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: btn1;
    width: 55%;
    height: 50px;
    background-color: #0cbaf9;
    border: none;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin: 10px auto 0 auto;
    color: #fff;
    font-family: montserrat;
    cursor: pointer;
  }
  /* ============ selling plans container ============ */
  .plans-container {
    width: 100%;
    min-height: 2178px;
    padding: 60px 20px;
  }
  .plans-container h1 {
    text-align: center;
    font-size: 2.1rem;
  }
  .plans-container .p-div {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 15px;
  }
  .plans-container .btn-plans {
    margin-top: 20px;
    font-family: Montserrat;
    border: none;
    background-color: #0d47a1;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .plans-container .btn-plans:hover {
    -webkit-box-shadow: 0px 2px 5px 2px #444444;
            box-shadow: 0px 2px 5px 2px #444444;
  }
  .plans-container .plans {
    width: 95%;
    padding-top: 50px;
    margin: 0px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "first" "sec" "third";
    place-items: center;
    grid-gap: 20px;
  }
  .plans-container .plans .first,
  .plans-container .plans .second,
  .plans-container .plans .third {
    width: 350px;
    height: 569px;
    background-color: #0d47a1;
    color: white;
  }
  .plans-container .plans .first h1,
  .plans-container .plans .second h1,
  .plans-container .plans .third h1 {
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0;
  }
  .plans-container .plans .first h3,
  .plans-container .plans .second h3,
  .plans-container .plans .third h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 5px 0;
  }
  .plans-container .plans .first .plans-desc,
  .plans-container .plans .second .plans-desc,
  .plans-container .plans .third .plans-desc {
    margin-top: 30px;
    padding: 0px 35px 10px 35px;
  }
  .plans-container .plans .first .plans-desc p,
  .plans-container .plans .second .plans-desc p,
  .plans-container .plans .third .plans-desc p {
    font-size: 1.1rem;
    text-align: center;
    text-align: left;
    font-weight: 600;
  }
  .plans-container .plans .first .plans-desc p div,
  .plans-container .plans .second .plans-desc p div,
  .plans-container .plans .third .plans-desc p div {
    margin: 10px 0;
    padding: 5px;
    text-align: left;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    color: #e6e6e6;
  }
  .plans-container .plans .first .btn-buy,
  .plans-container .plans .second .btn-buy,
  .plans-container .plans .third .btn-buy {
    display: block;
    width: 70%;
    font-family: Montserrat;
    border: none;
    background-color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .plans-container .plans .first .btn-buy:hover,
  .plans-container .plans .second .btn-buy:hover,
  .plans-container .plans .third .btn-buy:hover {
    -webkit-box-shadow: 0px 2px #363636;
            box-shadow: 0px 2px #363636;
  }
  .plans-container .plans .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  .plans-container .plans .second {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sec;
  }
  .plans-container .plans .third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: third;
  }
  /* ============ Best container ============ */
  .best-container {
    width: 100vw !important;
    min-height: 1320px;
    padding: 70px 20px;
    background-color: #d3eaff;
    color: #000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 770px 500px;
        grid-template-rows: 770px 500px;
        grid-template-areas: "best-box1" "best-box2";
    place-items: center;
  }
  .best-container .best-box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: best-box1;
    padding-left: 0px;
  }
  .best-container .best-box1 h1 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .best-container .best-box1 p {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 30px;
  }
  .best-container .best-box1 .sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 70%;
    height: 380px;
    margin-top: 40px;
  }
  .best-container .best-box1 .sec .one,
  .best-container .best-box1 .sec .two,
  .best-container .best-box1 .sec .three {
    background-color: #0cbaf9;
    height: 110px;
    width: 240px;
  }
  .best-container .best-box1 .sec .one .a,
  .best-container .best-box1 .sec .two .a,
  .best-container .best-box1 .sec .three .a {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .best-container .best-box1 .sec .one .b,
  .best-container .best-box1 .sec .two .b,
  .best-container .best-box1 .sec .three .b {
    font-size: 2rem;
    font-weight: bold;
  }
  .best-container .best-box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: best-box2;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .best-container .best-box2 img {
    width: 98%;
    height: 98%;
  }
  /* ============ Experience Container ============ */
  .experience-container {
    width: 100%;
    height: 972px;
    padding: 70px 0px;
    background-color: #fff;
    color: #000;
  }
  .experience-container h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 70px;
  }
  .experience-container .grid {
    width: 100%;
    margin: 0px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
  }
  .experience-container .grid .box {
    height: 150px;
  }
  .experience-container .grid .box .img {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
  }
  .experience-container .grid .box .img img {
    color: #0cbaf9;
    width: 50px;
    height: 50px;
  }
  .experience-container .grid .box p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  /* ============ search container ============ */
  .search-container {
    width: 100%;
    height: 800px;
    padding: 50px 20px;
    background-color: #d3eaff;
    color: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "search-box1" "search-box2";
  }
  .search-container .search-box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: search-box1;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .search-container .search-box1 h3 {
    font-size: 2.5rem;
    text-align: center;
    color: #000;
  }
  .search-container .search-box1 button {
    font-size: 1.2rem;
    margin: 30px auto 0 auto;
    width: 60%;
    font-family: Montserrat;
    border: none;
    font-weight: 600;
    color: #161b31;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .search-container .search-box1 button:hover {
    -webkit-box-shadow: 0px 0px 5px 4px #e6e6e6;
            box-shadow: 0px 0px 5px 4px #e6e6e6;
  }
  .search-container .search-box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: search-box2;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .search-container .search-box2 img {
    width: 100%;
    height: 100%;
    margin-top: -21px;
  }
  /* ============ Map container ============ */
  .map-container {
    width: 100%;
    height: 700px;
    padding: 50px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: .2fr 1fr;
        grid-template-rows: .2fr 1fr;
        grid-template-areas: "map-box1" "map-box2";
  }
  .map-container h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: map-box1;
    text-align: center;
    font-size: 2.4rem;
  }
  .map-container .map {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: map-box2;
    overflow-y: hidden;
  }
  .map-container .map img {
    display: block;
    margin: 50px auto 0 auto;
    height: 90%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* ============ Map1 container ============ */
  .map1-container {
    width: 100%;
    height: 700px;
    padding: 50px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: .2fr 1fr;
        grid-template-rows: .2fr 1fr;
        grid-template-areas: "map-box1" "map-box2";
  }
  .map1-container h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: map-box1;
    text-align: center;
    font-size: 2.4rem;
  }
  .map1-container .map {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: map-box2;
    overflow-y: hidden;
  }
  .map1-container .map img {
    display: block;
    margin: 50px auto 0 auto;
    height: 90%;
    width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* ============ chat ============= */
  .chat-box {
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: #fff;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
  }
  .chat-box .chat-btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .chat-box .chat-section {
    display: inline-block;
    position: fixed;
    bottom: 15%;
    right: 2%;
    background-color: #686868;
    border-radius: 7px;
    color: #000;
    height: 260px;
    width: 300px;
    padding: 20px;
  }
  .chat-box .chat-section .que {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .chat-box .chat-section .ans {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .chat-box .chat-section .ans:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  /* ============ Footer container ============ */
  .footer-container {
    width: 100%;
    height: 1000px;
    background-color: #48cae4;
    padding: 80px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "footer1" "footer2" "footer3";
    grid-gap: 20px;
  }
  .footer-container .footer1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: footer1;
    display: -ms-grid;
    display: grid;
    place-content: center;
    font-size: 2rem;
    color: #fff;
  }
  .footer-container .footer1 img {
    width: 110px;
    height: 100px;
    border-radius: 50%;
  }
  .footer-container .footer2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer2;
    padding-left: 0px;
  }
  .footer-container .footer2 .group h4 {
    font-size: 1.1rem;
    color: #fff;
    padding-bottom: 5px;
    text-align: center;
  }
  .footer-container .footer2 .group p {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    padding-bottom: 18px;
  }
  .footer-container .footer3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer3;
  }
  .footer-container .footer3 h2 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
  .footer-container .footer3 .footer-form {
    padding-top: 10px;
  }
  .footer-container .footer3 .footer-form input {
    display: block;
    width: 95%;
    height: 40px;
    border: none;
    outline: none;
    margin: 10px auto 0 auto;
    padding: 15px;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
  }
  .footer-container .footer3 .footer-form button {
    display: block;
    font-size: 1rem;
    margin: 30px auto 0 auto;
    width: 70%;
    font-family: Montserrat;
    border: none;
    font-weight: 600;
    color: #161b31;
    padding: 10px 15px;
    border-radius: 0px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .footer-container .footer3 .footer-form button:hover {
    -webkit-box-shadow: 0px 0px 5px 4px #e6e6e6;
            box-shadow: 0px 0px 5px 4px #e6e6e6;
  }
}

/* ============ chart container ============= */
@media (max-width: 678px) {
  /* ============ chart container ============= */
  .chart-container {
    width: 100%;
    height: 700px;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    background-color: #f7f7f7;
  }
  .chart-container .box1 {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .chart-container .box1 h3 {
    margin-bottom: 40px;
  }
  .chart-container .box1 p {
    cursor: pointer;
    border: 2px solid #0cbaf9;
    padding: 10px;
    text-align: center;
  }
  .chart-container .box1 .ans {
    font-size: .8rem;
    color: #000;
    font-weight: 600;
  }
  .chart-container .box1 button {
    cursor: pointer;
    border: none;
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
  }
  /* ============ innerChart container ============ */
  .innerChart-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .innerChart-container .linex {
    position: absolute;
    display: inline-block;
    width: 5px;
    border-radius: 3px;
    height: 200px;
    background-color: #000;
    -webkit-transform: translate(158px, 66px);
            transform: translate(158px, 66px);
  }
  .innerChart-container .linex1 {
    position: absolute;
    display: inline-block;
    width: 5px;
    border-radius: 3px;
    height: 200px;
    background-color: #ff6320;
    -webkit-transform: translate(223px, 66px);
            transform: translate(223px, 66px);
  }
  .innerChart-container .linex2 {
    position: absolute;
    display: inline-block;
    width: 5px;
    border-radius: 3px;
    height: 200px;
    background-color: #d026ff;
    -webkit-transform: translate(298px, 66px);
            transform: translate(298px, 66px);
  }
  .innerChart-container .linex3 {
    position: absolute;
    display: inline-block;
    width: 5px;
    border-radius: 3px;
    height: 200px;
    background-color: #29adff;
    -webkit-transform: translate(375px, 66px);
            transform: translate(375px, 66px);
  }
  .innerChart-container .dot1 {
    position: absolute;
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    height: 10px;
    background-color: #ff6320;
    -webkit-transform: translate(213px, 294px);
            transform: translate(213px, 294px);
    -webkit-animation: move1 1s alternate ease-in-out infinite;
            animation: move1 1s alternate ease-in-out infinite;
  }
  .innerChart-container .dot2 {
    position: absolute;
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    height: 10px;
    background-color: #d026ff;
    -webkit-transform: translate(288px, 294px);
            transform: translate(288px, 294px);
    -webkit-animation: move2 1s alternate ease-in-out infinite;
            animation: move2 1s alternate ease-in-out infinite;
  }
  @-webkit-keyframes move1 {
    from {
      -webkit-transform: translate(213px, 294px);
              transform: translate(213px, 294px);
    }
    to {
      -webkit-transform: translate(213px, 80px);
              transform: translate(213px, 80px);
    }
  }
  @keyframes move1 {
    from {
      -webkit-transform: translate(213px, 294px);
              transform: translate(213px, 294px);
    }
    to {
      -webkit-transform: translate(213px, 80px);
              transform: translate(213px, 80px);
    }
  }
  @-webkit-keyframes move2 {
    from {
      -webkit-transform: translate(288px, 294px);
              transform: translate(288px, 294px);
    }
    to {
      -webkit-transform: translate(288px, 80px);
              transform: translate(288px, 80px);
    }
  }
  @keyframes move2 {
    from {
      -webkit-transform: translate(288px, 294px);
              transform: translate(288px, 294px);
    }
    to {
      -webkit-transform: translate(288px, 80px);
              transform: translate(288px, 80px);
    }
  }
  @-webkit-keyframes move3 {
    from {
      -webkit-transform: translate(365px, 294px);
              transform: translate(365px, 294px);
    }
    to {
      -webkit-transform: translate(365px, 80px);
              transform: translate(365px, 80px);
    }
  }
  @keyframes move3 {
    from {
      -webkit-transform: translate(365px, 294px);
              transform: translate(365px, 294px);
    }
    to {
      -webkit-transform: translate(365px, 80px);
              transform: translate(365px, 80px);
    }
  }
  .innerChart-container .dot3 {
    position: absolute;
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    height: 10px;
    -webkit-transform: translate(365px, 294px);
            transform: translate(365px, 294px);
    background-color: #29adff;
    -webkit-animation: move3 1s alternate ease-in-out infinite;
            animation: move3 1s alternate ease-in-out infinite;
  }
  .innerChart-container .liney {
    position: absolute;
    display: inline-block;
    width: 5px;
    border-radius: 3px;
    height: 230px;
    background-color: #000;
    -webkit-transform: translate(302px, 184px) rotate(90deg);
            transform: translate(302px, 184px) rotate(90deg);
  }
  /* ============ innerChart1 container ============ */
  .innerChart1-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .innerChart1-container .linex {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #000;
    -webkit-transform: translate(158px, 66px);
            transform: translate(158px, 66px);
  }
  .innerChart1-container .linex1 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #ff6320;
    -webkit-transform: translate(223px, 66px);
            transform: translate(223px, 66px);
  }
  .innerChart1-container .linex2 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #d026ff;
    -webkit-transform: translate(298px, 66px);
            transform: translate(298px, 66px);
  }
  .innerChart1-container .linex3 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #29adff;
    -webkit-transform: translate(375px, 66px);
            transform: translate(375px, 66px);
  }
  .innerChart1-container .dot1 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 2px;
    height: 20px;
    background-color: #ff6320;
    -webkit-transform: translate(213px, 80px);
            transform: translate(213px, 80px);
    -webkit-animation: move1 2s ease-in-out;
            animation: move1 2s ease-in-out;
  }
  .innerChart1-container .dot2 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 2px;
    height: 20px;
    background-color: #d026ff;
    -webkit-transform: translate(288px, 80px);
            transform: translate(288px, 80px);
    -webkit-animation: move2 5s ease-in-out;
            animation: move2 5s ease-in-out;
  }
  @keyframes move1 {
    from {
      -webkit-transform: translate(213px, 294px);
              transform: translate(213px, 294px);
    }
    to {
      -webkit-transform: translate(213px, 80px);
              transform: translate(213px, 80px);
    }
  }
  @keyframes move2 {
    from {
      -webkit-transform: translate(288px, 294px);
              transform: translate(288px, 294px);
    }
    to {
      -webkit-transform: translate(288px, 80px);
              transform: translate(288px, 80px);
    }
  }
  @keyframes move3 {
    from {
      -webkit-transform: translate(365px, 294px);
              transform: translate(365px, 294px);
    }
    to {
      -webkit-transform: translate(365px, 80px);
              transform: translate(365px, 80px);
    }
  }
  .innerChart1-container .dot3 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 2px;
    height: 20px;
    -webkit-transform: translate(365px, 80px);
            transform: translate(365px, 80px);
    background-color: #29adff;
    -webkit-animation: move3 10s ease-in-out;
            animation: move3 10s ease-in-out;
  }
  .innerChart1-container .liney {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 300px;
    background-color: #000;
    -webkit-transform: translate(302px, 184px) rotate(90deg);
            transform: translate(302px, 184px) rotate(90deg);
  }
  /* ============ innerChart2 container ============ */
  .innerChart2-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .innerChart2-container .linex {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #000;
    -webkit-transform: translate(158px, 66px);
            transform: translate(158px, 66px);
  }
  .innerChart2-container .linex1 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #ff6320;
    -webkit-transform: translate(223px, 66px);
            transform: translate(223px, 66px);
  }
  .innerChart2-container .linex2 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #d026ff;
    -webkit-transform: translate(298px, 66px);
            transform: translate(298px, 66px);
  }
  .innerChart2-container .linex3 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #29adff;
    -webkit-transform: translate(375px, 66px);
            transform: translate(375px, 66px);
  }
  .innerChart2-container .dot1 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #ff6320;
    -webkit-transform: translate(213px, 80px);
            transform: translate(213px, 80px);
    -webkit-animation: move1 7s ease-in-out;
            animation: move1 7s ease-in-out;
  }
  .innerChart2-container .dot2 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #d026ff;
    -webkit-transform: translate(288px, 80px);
            transform: translate(288px, 80px);
    -webkit-animation: move2 15s ease-in-out;
            animation: move2 15s ease-in-out;
  }
  @keyframes move1 {
    from {
      -webkit-transform: translate(213px, 294px);
              transform: translate(213px, 294px);
    }
    to {
      -webkit-transform: translate(213px, 80px);
              transform: translate(213px, 80px);
    }
  }
  @keyframes move2 {
    from {
      -webkit-transform: translate(288px, 294px);
              transform: translate(288px, 294px);
    }
    to {
      -webkit-transform: translate(288px, 80px);
              transform: translate(288px, 80px);
    }
  }
  @keyframes move3 {
    from {
      -webkit-transform: translate(365px, 294px);
              transform: translate(365px, 294px);
    }
    to {
      -webkit-transform: translate(365px, 80px);
              transform: translate(365px, 80px);
    }
  }
  .innerChart2-container .dot3 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    -webkit-transform: translate(365px, 80px);
            transform: translate(365px, 80px);
    background-color: #29adff;
    -webkit-animation: move3 35s ease-in-out;
            animation: move3 35s ease-in-out;
  }
  .innerChart2-container .liney {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 300px;
    background-color: #000;
    -webkit-transform: translate(302px, 184px) rotate(90deg);
            transform: translate(302px, 184px) rotate(90deg);
  }
  /* ============ innerChart3 container ============ */
  .innerChart3-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .innerChart3-container .linex {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #000;
    -webkit-transform: translate(158px, 66px);
            transform: translate(158px, 66px);
  }
  .innerChart3-container .linex1 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #ff6320;
    -webkit-transform: translate(223px, 66px);
            transform: translate(223px, 66px);
  }
  .innerChart3-container .linex2 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #d026ff;
    -webkit-transform: translate(298px, 66px);
            transform: translate(298px, 66px);
  }
  .innerChart3-container .linex3 {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 270px;
    background-color: #29adff;
    -webkit-transform: translate(375px, 66px);
            transform: translate(375px, 66px);
  }
  .innerChart3-container .dot1 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #ff6320;
    -webkit-transform: translate(213px, 80px);
            transform: translate(213px, 80px);
    -webkit-animation: move1 1s ease-in-out;
            animation: move1 1s ease-in-out;
  }
  .innerChart3-container .dot2 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    background-color: #d026ff;
    -webkit-transform: translate(288px, 80px);
            transform: translate(288px, 80px);
    -webkit-animation: move2 2s ease-in-out;
            animation: move2 2s ease-in-out;
  }
  @keyframes move1 {
    from {
      -webkit-transform: translate(213px, 294px);
              transform: translate(213px, 294px);
    }
    to {
      -webkit-transform: translate(213px, 80px);
              transform: translate(213px, 80px);
    }
  }
  @keyframes move2 {
    from {
      -webkit-transform: translate(288px, 294px);
              transform: translate(288px, 294px);
    }
    to {
      -webkit-transform: translate(288px, 80px);
              transform: translate(288px, 80px);
    }
  }
  @keyframes move3 {
    from {
      -webkit-transform: translate(365px, 294px);
              transform: translate(365px, 294px);
    }
    to {
      -webkit-transform: translate(365px, 80px);
              transform: translate(365px, 80px);
    }
  }
  .innerChart3-container .dot3 {
    position: absolute;
    display: inline-block;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    -webkit-transform: translate(365px, 80px);
            transform: translate(365px, 80px);
    background-color: #29adff;
    -webkit-animation: move3 3s ease-in-out;
            animation: move3 3s ease-in-out;
  }
  .innerChart3-container .liney {
    position: absolute;
    display: inline-block;
    width: 10px;
    border-radius: 3px;
    height: 300px;
    background-color: #000;
    -webkit-transform: translate(302px, 184px) rotate(90deg);
            transform: translate(302px, 184px) rotate(90deg);
  }
}
/*# sourceMappingURL=mobile.css.map */