$c1 : #0cbaf9;
$c2 : #132d7a;
$c3 : #073fae;
$c4 : #032147;
$c5 : #0c0c5e;


.newconnection-container {
    position: fixed;
    display: grid;
    place-content: center;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.543);

    .newconnection-modal {
        width: 600px;
        min-height: 500px;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: auto;
        position: relative;

        .close {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
        }


        &::-webkit-scrollbar {
            width: 2px;
            height: 8px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
            background: grey;
        }

        .form {
            padding: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 2.4rem;
                font-weight: 600;
                color: $c1;
                text-align: center;
                margin-bottom: 40px;
            }

            .done {
                font-size: 3.5rem;
                color: greenyellow;
                display: grid;
                place-items: center;
            }

            input {
                display: block;
                width: 80%;
                height: 50px;
                border: none;
                border-bottom: 2px solid $c1;
                margin: 0 auto;
                margin-bottom: 30px;
                font-size: 1.1rem;
                font-weight: 500;
                padding: 10px 20px;
                outline: none;
                font-family: montserrat;
            }

            button {
                display: block;
                width: 250px;
                height: 50px;
                margin: 0 auto;
                margin-top: 40px;
                background-color: $c1;
                color: #fff;
                font-size: 1.2rem;
                font-weight: 600;
                border-radius: 2px;
                border: none;
                font-family: montserrat;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #fff;
                    border: 3px solid $c1;
                    color: #000;
                }
            }

        }
    }
}