@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');



$primary-color: hsla(69, 100%, 64%, 0.685);
$primary-font: Montserrat;
$secondary-font: Poppins;
$text-color: #000;
$back-color: #fff;
// $secondary-color: #13593b;
$secondary-color: hsla(154, 61%, 51%, 0.5);
// $primary-color: #fff;



// ======== reset =========
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

// ========= body =========

body {
    font-family: Montserrat;
}

/* ============ navbar ============= */

.nav-colored {
    background-color: #4376e6 !important;
    color: #13593b !important;
}

/* ============ parent ============= */

.parent {
    width: 100vw;
    min-height: 800px;
    background-color: #fff;
    margin-top: 80px;
    overflow-x: hidden;
}

.layout-container {
    width: 100vw;
    max-width: 1440px;
    margin: 0px auto;
    background-color: #fff;
    // overflow-x: hidden;
}

/* ============ Nav container ============ */

.navbar-parent {
    width: 100vw;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;

    .navbar-inner {
        max-width: 1440px;
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 50px;
        overflow: hidden;
        background-color: orange;

        .logo {
            font-size: 2.5rem;
            color: #000;
        }

        #click {
            display: none;
        }

        .menu-btn {
            display: none;
        }

        ul {
            padding-right: 50px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 35px;

            li {
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 1px;
                color: #fff;
                transition: all 0.3s ease;
            }
        }
    }
}


/* ============ hero container ============ */

.hero-container {
    width: 100%;
    height: 550px;
    padding: 0px;
    position: relative;
    background-color: #fff;
    z-index: 3;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.653);
    }

    img {
        width: 100%;
        height: 300px;
        margin: auto 0;
    }

    h1 {
        font-size: 3.5rem;
        color: #fff;
        position: absolute;
        top: 15%;
        left: 10%;
        z-index: 2;
        line-height: 1.5;
    }
}

/* ============ form container ============ */

.form-container {
    width: 100%;
    height: 300px;
    padding: 100px 50px;
    position: relative;
    background-color: orange;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas: "form-box1 form-box2";

    .circle {
        position: absolute;
        height: 471px;
        width: 613px;
        border-radius: 50%;
        background-color: grey;
        top: -64%;
        left: -1%;
        z-index: 1;
    }

    h2 {
        grid-area: form-box1;
        z-index: 2;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        margin-top: -48px;
    }

    form {
        grid-area: form-box2;
        display: grid;
        width: 90%;
        margin: 0px auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "input1 input2"
            "btn1 btn1";
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;

        .input1,
        .input2 {
            width: 80%;
            height: 50px;
            border: none;
            grid-area: input1;
            margin: 0px auto;
            padding: 0.5rem 0.7rem;
            font-size: 1.2rem;
            font-weight: 500;
            outline: none;
        }

        .input2 {
            grid-area: input2;
        }

        button {
            grid-area: btn1;
            width: 50%;
            height: 50px;
            background-color: orangered;
            border: none;
            font-size: 1.2rem;
            padding: 0.6rem;
            margin: 14px auto 0 auto;
            color: #fff;
            font-family: montserrat;
            cursor: pointer;
        }
    }
}

/* ============ selling plans container ============ */

.plans-container {
    width: 100%;
    height: 700px;
    padding: 100px 50px;

    h1 {
        text-align: center;
        font-size: 3rem;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
    }

    .plans {
        width: 85%;
        padding-top: 50px;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "first sec third";
        place-items: center;

        .first,
        .second,
        .third {
            width: 300px;
            height: 400px;
            background-color: orange;
        }

        .first {
            grid-area: first;
        }

        .second {
            grid-area: sec;
        }

        .first {
            grid-area: third;
        }
    }

}

/* ============ Best plans container ============ */

.best-container {
    width: 100%;
    height: 700px;
    padding: 100px 50px;

    
}